@import '../../../mixins';

.table__class-name {
    font-weight: 700;
    height: 32px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
    align-items: center;
    border-radius: 10px;
    background: var(--bgc-table);
    box-shadow: 0 4px 8px var(--box-shadow--color);

    @include hover(transform, scale(1.05));

    &--text {
        font-size: 20px;
    }

    &--img {
        width: 32px;
        height: 32px;
        background-image: var(--img-my-form);

        &--active {
            background-image: var(--img-my-form-active);
        }
    }
}